<div style="background-color:#202124" class="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">BTC</h4>
                </div>
            </div>
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="changerate"></div>
                </div>
                <div class="card-body">
                    <h4 *ngIf="chartTimeHashrate.getValue() > 0 " class="card-title">Taux de change BTC €</h4>
                    <!--<button (click)=getStatsProfit(36) style="background-color: #340357;" mat-raised-button color="warn">
                        6 H
                    </button>
                    <button (click)=getStatsProfit(72) style="background-color: #340357;" mat-raised-button color="warn">
                        12 H
                    </button>
                    <button (click)=getStatsProfit(0) style="background-color: #340357;" mat-raised-button color="warn">
                        24 H
                    </button>-->
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">ETH</h4>
                </div>
            </div>
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="changerateeth"></div>
                </div>
                <div class="card-body">
                    <h4 *ngIf="chartTimeHashrate.getValue() > 0 " class="card-title">Taux de change ETH €</h4>
                    <!--<button (click)=getStatsHashrate(36) style="background-color: #340357;" mat-raised-button color="warn">
                        6 H
                    </button>
                    <button (click)=getStatsHashrate(72) style="background-color: #340357;" mat-raised-button color="warn">
                        12 H
                    </button>
                    <button (click)=getStatsHashrate(0) style="background-color: #340357;" mat-raised-button color="warn">
                        24 H
                    </button>-->
                </div>
            </div>
        </div>
    </div>  
    <div *ngFor="let rig of oRigs.getValue()" class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">{{rig.name}}</h4>
                </div>
            </div>
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="{{ rig.name }}"></div>
                </div>
                <div class="card-body">
                    <h4 *ngIf="chartTime.getValue() > 0 " class="card-title">Rendement € ({{chartTime.getValue()/6}} dernières heures)</h4>
                    <h4 *ngIf="chartTime.getValue() < 1 " class="card-title">Rendement € (24 dernières heures)</h4>
                    <!--<button (click)=getStatsProfit(36) style="background-color: #340357;" mat-raised-button color="warn">
                        6 H
                    </button>
                    <button (click)=getStatsProfit(72) style="background-color: #340357;" mat-raised-button color="warn">
                        12 H
                    </button>
                    <button (click)=getStatsProfit(0) style="background-color: #340357;" mat-raised-button color="warn">
                        24 H
                    </button>-->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">{{rig.name}}</h4>
                </div>
            </div>
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="{{ rig.name }}Hashrate"></div>
                </div>
                <div class="card-body">
                    <h4 *ngIf="chartTimeHashrate.getValue() > 0 " class="card-title">Hashrate MH/S ({{chartTimeHashrate.getValue()/6}} dernières heures)</h4>
                    <h4 *ngIf="chartTimeHashrate.getValue() < 1 " class="card-title">Hashrate MH/S (24 dernières heures)</h4>
                    <!--<button (click)=getStatsHashrate(36) style="background-color: #340357;" mat-raised-button color="warn">
                        6 H
                    </button>
                    <button (click)=getStatsHashrate(72) style="background-color: #340357;" mat-raised-button color="warn">
                        12 H
                    </button>
                    <button (click)=getStatsHashrate(0) style="background-color: #340357;" mat-raised-button color="warn">
                        24 H
                    </button>-->
                </div>
            </div>
        </div>
    </div>  
</div>
